<form>
  <div class="form-group">
    <label for="business_name">Business Name</label>
    <input type="text" class="form-control" id="business_name" placeholder="enter your business name">
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category">
      <option>IT Services</option>
      <option>Digital Agency</option>
      <option>Payment Services</option>
      <option>Consulting</option>
      <option>Building & Real Estate</option>
    </select>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <textarea class="form-control" id="address" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3"></textarea>
      </div>
      <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>