<!DOCTYPE html>
<html>
  <head>
    <% include partials/page/head.ejs %>
  </head>
  <body>
    <header>
    <% include partials/page/nav_bar.ejs %>
  </header>
  <% include partials/page/main.ejs %>
  <% include partials/page/jsdefaults.ejs %>  
  </body>
</html>


